Section "Module"
      Load "vnc"
EndSection

Section "Screen"
      Identifier "VNC Extension"
      Option "SecurityTypes" "VncAuth"
      Option "UserPasswdVerifier" "VncAuth"
      Option "PasswordFile" "/root/.vnc/passwd"
EndSection
